body {
  margin: 0px;
  overflow: hidden;
}

.amap-info-contentContainer .amap-info-close {
  display: none;
}

.amap-scale-text {
  color: #fff;
}

.amap-sug-result {
  min-width: 350px !important;
}